.logo-medium {
  width: 30rem;
}

.link {
  background: none !important;
  border: none;
  padding: 0 !important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #118aef;
  cursor: pointer;
}

.link:disabled {
  background: none !important;
  border: none;
  padding: 0 !important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #80bef0;
  text-decoration: underline;
  cursor: pointer;
}
